// (c) Berry CSS, https://maxsite.org/berry

// Table

.#{$pf}table-layout-fixed {
    table-layout: fixed;
}

.#{$pf}table-layout-auto {
    table-layout: auto;
}

.#{$pf}table-caption-bottom {
    caption-side: bottom;
}
