// (c) Berry CSS, https://maxsite.org/berry

.#{$pf}va-baseline {
    vertical-align: baseline;
}

.#{$pf}va-top {
    vertical-align: top;
}

.#{$pf}va-middle {
    vertical-align: middle;
}

.#{$pf}va-bottom {
    vertical-align: bottom;
}

.#{$pf}va-text-top {
    vertical-align: text-top;
}

.#{$pf}va-text-bottom {
    vertical-align: text-bottom;
}

.#{$pf}va-sub {
    vertical-align: sub;
}

.#{$pf}va-super {
    vertical-align: super;
}