// (c) Berry CSS, https://maxsite.org/berry

// Variables

// included files
$modules: (
	'buttons': true,
) !default;


// ::::: _buttons.scss :::::
// .button — base class
$button-padding: .4rem .8rem !default;
$button-line-height: 1.5 !default;
$button-radius: 5px !default;
$button-transition: all ease .1s !default;
$button-disabled-bg-color: var(--gray200) !default;
$button-disabled-text-color: var(--gray600) !default;

$button-bg-color: var(--primary600) !default;
$button-text-color: #fff !default;
$button-border: 1px solid transparent !default;

$button-hover-bg-color: var(--primary750) !default;
$button-hover-text-color: #fff !default;

$button-focus-bg-color: var(--primary500) !default;
$button-focus-text-color: #fff !default;
$button-focus-shadow: 0 0 0 2px var(--primary200) !default;
$button-focus-border: solid 1px var(--primary200) !default;

// Sets of .button-secondary, .button-red, etc...

$button-secondary: (
    "bg": var(--secondary600),
    "hover-bg": var(--secondary750),
    "focus-bg": var(--secondary500),
    "focus-border": solid 1px var(--secondary200),
    "focus-shadow": 0 0 0 2px var(--secondary200),
) !default;
        
// invert
$button-outline1: ( 
    "bg": #fff,
    "text": var(--primary600),
    "border": solid 1px var(--primary600),
    "hover-bg": var(--primary700),
    "hover-text": #fff,
    "focus-bg": #fff,
    "focus-text": var(--primary600),
    "focus-border": solid 1px var(--primary600),
    "focus-shadow": 0 0 0 2px var(--primary500),
    "focus-hover-bg": var(--primary600),
    "focus-hover-text": #fff,
) !default;

$button-outline2: (
    "bg": transparent,
    "text": var(--primary400),
    "border": solid 1px var(--primary300),
    "hover-bg": rgba(255, 255, 255, .3),
    "hover-text": var(--primary100),
    "focus-bg": #fff,
    "focus-text": var(--primary600),
    "focus-border": solid 1px var(--primary600),
    "focus-shadow": 0 0 0 2px var(--primary500),
    "focus-hover-bg": var(--primary600),
    "focus-hover-text": #fff,
) !default;

$button-red: (
    "bg": var(--red600),
    "hover-bg": var(--red750),
    "focus-bg": var(--red500),
    "focus-border": solid 1px var(--red200),
    "focus-shadow": 0 0 0 2px var(--red200),
) !default;

$button-brown: (
    "bg": var(--brown600),
    "hover-bg": var(--brown750),
    "focus-bg": var(--brown500),
    "focus-border": solid 1px var(--brown200),
    "focus-shadow": 0 0 0 2px var(--brown200),
) !default;

$button-orange: (
    "bg": var(--orange600),
    "hover-bg": var(--orange750),
    "focus-bg": var(--orange500),
    "focus-border": solid 1px var(--orange200),
    "focus-shadow": 0 0 0 2px var(--orange200),
) !default;

$button-yellow: (
    "bg": var(--yellow600),
    "hover-bg": var(--yellow750),
    "focus-bg": var(--yellow500),
    "focus-border": solid 1px var(--yellow200),
    "focus-shadow": 0 0 0 2px var(--yellow200),
) !default;

$button-lime: (
    "bg": var(--lime600),
    "hover-bg": var(--lime750),
    "focus-bg": var(--lime500),
    "focus-border": solid 1px var(--lime200),
    "focus-shadow": 0 0 0 2px var(--lime200),
) !default;

$button-green: (
    "bg": var(--green600),
    "hover-bg": var(--green750),
    "focus-bg": var(--green500),
    "focus-border": solid 1px var(--green200),
    "focus-shadow": 0 0 0 2px var(--green200),
) !default;

$button-teal: (
    "bg": var(--teal600),
    "hover-bg": var(--teal750),
    "focus-bg": var(--teal500),
    "focus-border": solid 1px var(--teal200),
    "focus-shadow": 0 0 0 2px var(--teal200),
) !default;

$button-cyan: (
    "bg": var(--cyan600),
    "hover-bg": var(--cyan750),
    "focus-bg": var(--cyan500),
    "focus-border": solid 1px var(--cyan200),
    "focus-shadow": 0 0 0 2px var(--cyan200),
) !default;

$button-blue: (
    "bg": var(--blue600),
    "hover-bg": var(--blue750),
    "focus-bg": var(--blue500),
    "focus-border": solid 1px var(--blue200),
    "focus-shadow": 0 0 0 2px var(--blue200),
) !default;

$button-indigo: (
    "bg": var(--indigo600),
    "hover-bg": var(--indigo750),
    "focus-bg": var(--indigo500),
    "focus-border": solid 1px var(--indigo200),
    "focus-shadow": 0 0 0 2px var(--indigo200),
) !default;

$button-violet: (
    "bg": var(--violet600),
    "hover-bg": var(--violet750),
    "focus-bg": var(--violet500),
    "focus-border": solid 1px var(--violet200),
    "focus-shadow": 0 0 0 2px var(--violet200),
) !default;

$button-purple: (
    "bg": var(--purple600),
    "hover-bg": var(--purple750),
    "focus-bg": var(--purple500),
    "focus-border": solid 1px var(--purple200),
    "focus-shadow": 0 0 0 2px var(--purple200),
) !default;

$button-pink: (
    "bg": var(--pink600),
    "hover-bg": var(--pink750),
    "focus-bg": var(--pink500),
    "focus-border": solid 1px var(--pink200),
    "focus-shadow": 0 0 0 2px var(--pink200),
) !default;

$button-gray: (
    "bg": var(--gray600),
    "hover-bg": var(--gray750),
    "focus-bg": var(--gray500),
    "focus-border": solid 1px var(--gray200),
    "focus-shadow": 0 0 0 2px var(--gray200),
) !default;

$buttons: (
    "button-secondary": $button-secondary, 
    "button-outline1": $button-outline1, 
    "button-outline2": $button-outline2,
    "button-red": $button-red,
    "button-brown": $button-brown,
    "button-orange": $button-orange,
    "button-yellow": $button-yellow,
    "button-lime": $button-lime,
    "button-green": $button-green,
    "button-teal": $button-teal,
    "button-cyan": $button-cyan,
    "button-blue": $button-blue,
    "button-indigo": $button-indigo,
    "button-violet": $button-violet,
    "button-purple": $button-purple,
    "button-pink": $button-pink,
    "button-gray": $button-gray,
) !default;
