// (c) Berry - CSS Utilities, https://maxsite.org/berry

// modal elements
$modal1-bg: rgba(0, 0, 0, 0.6) !default;
$modal1-bg-content: #fff !default;
$modal1-radius: 5px !default;
$modal1-max-width: 600px !default;
$modal1-zindex: 100 !default;
$modal1-top: 30% !default;

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal1-bg, $modal1-bg);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: $modal1-zindex;
}

.modal-content {
    position: absolute;
    width: 100%;
    left: 50%;
    top: var(--modal1-top, $modal1-top);
    transform: translate(-50%, -50%);
    border-radius: var(--modal1-radius, $modal1-radius);
    background-color: var(--modal1-bg-content, $modal1-bg-content);
    max-width: var(--modal1-max-width, $modal1-max-width);
}

.modal-close-icon {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 3px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #aaaaaa;
        
    &:hover {
        color: #000;
    }
}

.modal-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
