// (c) Berry CSS, https://maxsite.org/berry

// column

@forward '../../config/utilities';
@use 'default' as *;
@use "sass:map";

@if map.get($modules, 'column') {

    .#{$pf}column-count1 {
        column-count: 1;
    }

    .#{$pf}column-count2 {
        column-count: 2;
    }

    .#{$pf}column-count3 {
        column-count: 3;
    }

    .#{$pf}column-count4 {
        column-count: 4;
    }

    .#{$pf}column-count5 {
        column-count: 5;
    }

    .#{$pf}column-count6 {
        column-count: 6;
    }

    .#{$pf}column-count7 {
        column-count: 7;
    }

    @media ($SCREEN_TABLET) {
        .#{$pf}column-count1-tablet {
            column-count: 1;
        }

        .#{$pf}column-count2-tablet {
            column-count: 2;
        }

        .#{$pf}column-count3-tablet {
            column-count: 3;
        }

        .#{$pf}column-count4-tablet {
            column-count: 4;
        }

        .#{$pf}column-count5-tablet {
            column-count: 5;
        }

        .#{$pf}column-count6-tablet {
            column-count: 6;
        }

        .#{$pf}column-count7-tablet {
            column-count: 7;
        }
    }

    .#{$pf}column-gap10 {
        column-gap: 10px;
    }

    .#{$pf}column-gap20 {
        column-gap: 20px;
    }

    .#{$pf}column-gap30 {
        column-gap: 30px;
    }

    .#{$pf}column-gap40 {
        column-gap: 40px;
    }

    .#{$pf}column-gap50 {
        column-gap: 50px;
    }

    .#{$pf}column-rule-var {
        column-rule: var(--column-rule-width, 1px) var(--column-rule-style, solid) var(--column-rule-color, #aaa);
    }

    .#{$pf}column-var {
        column-count: var(--column-count, 3);
        column-gap  : var(--column-gap, 30px);
        column-rule : var(--column-rule, 1px solid #aaa);
    }

    // https://developer.mozilla.org/en-US/docs/Web/CSS/break-inside
    .#{$pf}break-inside-auto {
        break-inside: auto;
    }

    .#{$pf}break-inside-avoid {
        break-inside: avoid;
    }

    .#{$pf}break-inside-avoid-page {
        break-inside: avoid-page;
    }

    .#{$pf}break-inside-avoid-column {
        break-inside: avoid-column;
    }

    .#{$pf}break-inside-avoid-region {
        break-inside: avoid-region;
    }
}