// (c) Berry CSS, https://maxsite.org/berry

// Variables

// from BS5
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "PT Mono", "Liberation Mono", "Courier New", monospace !default;

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// _base.scss
$body-size-base  : 16px !default;
$body-font-family: $font-family-sans-serif !default;
$body-line-height: 1.6 !default;
$body-color      : #333 !default;
$body-bg         : #fff !default;
$body-text-align : null !default;

$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.2rem !default;
$h6-font-size: 1rem !default;

$headings-font-weight: normal !default;
$headings-margin     : 0 0 .6em 0 !default;
$headings-line-height: 1.2 !default;

$paragraph-margin: 0 0 1rem 0 !default;

// ::::: _links.scss :::::
$link-color           : #4881e6 !default;
$link-decoration      : none !default;
$link-hover-color     : #D90000 !default;
$link-hover-decoration: underline !default;

// ::::: _blocks.scss :::::
// <pre>
$pre-text-color   : #333 !default;
$pre-bg-color     : #FAFAFA !default;
$pre-padding      : 10px 15px 10px 25px !default;
$pre-border-top   : #DFDFDF solid 1px !default;
$pre-border-right : #DFDFDF solid 3px !default;
$pre-border-bottom: #DFDFDF solid 1px !default;
$pre-border-left  : #DFDFDF solid 3px !default;
$pre-line-height  : 1.5 !default;
$pre-border-radius: 3px !default;
$pre-max-height   : 0 !default; // 500px or 0 for disable scrollbar

// <code>
$code-background   : #E5F5F9 !default;
$code-padding      : 0 5px !default;
$code-border-radius: 3px !default;
$code-font-size    : .9em !default;
$code-color        : inherit !default;

// <kbd> <samp> 
$kbd-text-color      : #333 !default;
$kbd-background-color: #e1f4df !default;
$kbd-font-size       : .9em !default;
$kbd-border-radius   : 0 !default;

// <var>
$var-text-color      : #333 !default;
$var-background-color: #f4efdf !default;
$var-font-size       : .9rem !default;
$var-border-radius   : 3px !default;

// <samp>
$samp-text-color      : #333 !default;
$samp-background-color: #d0ecb9 !default;
$samp-font-size       : .9rem !default;
$samp-border-radius   : 3px !default;

// <mark>
$mark-padding         : 0 4px !default;
$mark-background-color: #F7F2C6 !default;
$mark-border-radius   : 3px !default;
$mark-font-size       : .95em !default;

// <blockquote>
$blockquote-border-left  : 5px solid #578CB4 !default;
$blockquote-color        : #777777 !default;
$blockquote-margin       : 20px 0 !default;
$blockquote-padding      : 10px 0 10px 25px !default;
$blockquote-border-radius: 7px !default;
$blockquote-background   : null !default;

// ::::: _images.scss :::::
$images-thumbnail-border : #DDDDDD 1px solid !default;
$images-thumbnail-padding: 4px !default;
$images-left-margin      : 5px 20px 5px 0 !default;
$images-right-margin     : 5px 0 5px 20px !default;

// ::::: _icons.scss :::::
$icon-rounded-radius: 5px !default;

// ::::: _lines.scss :::::
$hr-border: 1px solid #AAAAAA !default;
$hr-margin: 30px 0 !default;

// ::::: _table.scss :::::
$table-tr-border-bottom: #d7dfe1 1px solid !default;

$table-th-background   : #eff2f3 !default;
$table-th-border-top   : #c8d3d6 1px solid !default;
$table-th-border-bottom: #ced8da 1px solid !default;
$table-th-padding      : .6rem .5rem !default;
$table-th-border-right : #ced8da 1px solid !default; // .table-border

$table-td-padding     : .5rem !default;
$table-td-border-right: #d7dfe1 1px solid !default; // .table-border

$table-striped-odd-bg : #ffffff !default; // .table-striped
$table-striped-even-bg: #f1f5f5 !default;

$table-tr-hover-bg: #d6e2e2 !default; // .table-hover

// ::::: _buttons.scss :::::
// .button — base class
$button-padding            : .4rem .8rem !default;
$button-line-height        : 1.5 !default;
$button-disabled-bg-color  : #C5C7C9 !default;
$button-disabled-text-color: #93999F !default;

// .button-var — for css-variables
$button-bg-color         : #0d6efd !default;
$button-text-color       : #fff !default;
$button-hover-bg-color   : #025CE2 !default;
$button-hover-text-color : #fff !default;
$button-radius           : 5px !default;
$button-focus-shadow     : rgba(13, 110, 253, .3) !default;
$button-focus-shadow-size: 2px !default;

// Sets of .button1, .button2, etc...
$button1: (
    "radius": 5px,
    "bg": #0d6efd,
    "text": #fff,
    "hover-bg": #025CE2,
    "hover-text": #fff,
    "focus-bg": #025CE2,
    "focus-text": #fff,
    "focus-border": solid 1px #97C1FE,
    "focus-shadow": 0 0 0 3px #97C1FE,
    // "align": center,
) !default;

$button2: (
    "radius": 5px,
    "bg": #6c757d,
    "text": #fff,
    "hover-bg": #60686f,
    "hover-text": #fff,
    "focus-bg": #60686f,
    "focus-text": #fff,
    "focus-border": solid 1px #C0C4C8,
    "focus-shadow": 0 0 0 2px #C0C4C8,
) !default;

$button3: (
    "radius": 5px,
    "bg": #EB307E,
    "text": #fff,
    "hover-bg": #D61566,
    "hover-text": #fff,
    "focus-bg": #D61566,
    "focus-text": #fff,
    "focus-border": solid 1px #F7B3D0,
    "focus-shadow": 0 0 0 3px #F7B3D0,
) !default;

// invert
$button-outline1: ( 
    "radius"    : 5px,
    "bg": #fff,
    "text": #0D6EFD,
    "border": solid 1px #0D6EFD,
    "hover-bg": #0D6EFD,
    "hover-text": #fff,
    "focus-bg": #fff,
    "focus-text": #0D6EFD,
    "focus-border": solid 1px #0D6EFD,
    "focus-shadow": 0 0 0 2px #72abfe,
    "focus-hover-bg": #0D6EFD,
    "focus-hover-text": #fff,
    // "focus-hover-border": solid 1px #0D6EFD,
    // "focus-hover-shadow": 0 0 0 2px #72abfe,
) !default;

$button-outline2: (
    "radius"    : 5px,
    "bg": #fff,
    "text": #6c757d,
    "border": solid 1px #6c757d,
    "hover-bg": #6c757d,
    "hover-text": #fff,
    "focus-bg": #fff,
    "focus-text": #6c757d,
    "focus-border": solid 1px #6c757d,
    "focus-shadow": 0 0 0 2px #C0C4C8,
    "focus-hover-bg": #6c757d,
    "focus-hover-text": #fff,
) !default;

$buttons: (
    "button1": $button1, // class: var
    "button2": $button2, 
    "button3": $button3, 
    "button-outline1": $button-outline1, 
    "button-outline2": $button-outline2,
) !default;

// ::::: _forms.scss :::::
$placeholder-color: #828282 !default;

$form-input-padding      : 4px 6px !default;
$form-input-border       : 1px solid #CED4DA !default;
$form-input-border-radius: 3px !default;

$form-input-focus-color       : #495057 !default;
$form-input-focus-background  : #fff !default;
$form-input-focus-border-color: #80bdff !default;
$form-input-focus-shadow      : 0 0 0 .2rem hsla(210, 100%, 50%, 0.25) !default;

$form-input-disabled-color       : #999 !default;
$form-input-disabled-background  : #f5f5f5 !default;
$form-input-disabled-border-color: #ddd !default;

$form-invalid-shadow: 0 0 0 .2rem hsla(4, 100%, 50%, 0.3) !default;
$form-invalid-border: 1px solid #FFB7B2 !default;

// ::::: _root.scss :::::
$root_list: (
    "font-family-monospace": $font-family-monospace,
) !default;