// (c) Berry CSS, https://maxsite.org/berry

// Base typo

@forward '../../config/typography';
@use 'default' as *;
@use "sass:map";

@if map.get($modules, 'base') {

    body {
        font-size       : var(--body-size-base, $body-size-base);
        font-family     : var(--body-font-family, $body-font-family);
        line-height     : var(--body-line-height, $body-line-height);
        color           : var(--body-color, $body-color);
        text-align      : var(--body-text-align);
        background-color: var(--body-bg, $body-bg);
    }
    
    // чтобы сравнять размер шрифта body и html для нормальной работы rem 
    html {
        font-size: var(--html-size-base, var(--body-size-base, $body-size-base));
    } 

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--headings-font-weight, $headings-font-weight);
        line-height: var(--headings-line-height, $headings-line-height);
    }

    h1,
    .h1 {
        font-size: var(--h1-font-size, $h1-font-size);
        margin: var(--h1-margin, $h1-margin);
    }

    h2,
    .h2 {
        font-size: var(--h2-font-size, $h2-font-size);
        margin: var(--h2-margin, $h2-margin);
    }

    h3,
    .h3 {
        font-size: var(--h3-font-size, $h3-font-size);
        margin: var(--h3-margin, $h3-margin);
    }

    h4,
    .h4 {
        font-size: var(--h4-font-size, $h4-font-size);
        margin: var(--h4-margin, $h4-margin);
    }

    h5,
    .h5 {
        font-size: var(--h5-font-size, $h5-font-size);
        margin: var(--h5-margin, $h5-margin);
    }

    h6,
    .h6 {
        font-size: var(--h6-font-size, $h6-font-size);
        margin: var(--h6-margin, $h6-margin);
    }

    p {
        margin: var(--paragraph-margin, $paragraph-margin);
    }
    
    .container-content {
        background: var(--container-content-bg);
    }
    
    .color-inherit {
        color: inherit;
    }

}