// (c) Berry CSS, https://maxsite.org/berry

// details

@forward '../../config/typography';
@use 'default' as *;
@use "sass:map";

@if map.get($modules, 'details') {

    details summary {
        display: block; // fix FireFox
    }

    details summary:hover {
        cursor: pointer;
    }

    details summary:focus {
        outline: none;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary::before {
        content     : var(--summary-marker, "❯");
        color       : var(--summary-marker-color);
        margin-right: var(--summary-marker-margin-r, .6em);
        transition  : transform var(--summary-marker-time, 0.2s);
        display     : inline-block;
    }

    details[open] summary:before {
        transform: rotate(var(--summary-marker-rotate, 90deg));
    }
    
    // details.callout
    :where(details.callout) {
        background-color: var(--primary50);
        padding: 0px 20px 5px 20px;
        margin-bottom: 1rem;
    }

    :where(.dark details.callout) {
        background-color: var(--primary700);
    }

    :where(details.callout summary) {
        margin: 0 -20px -5px -20px;
        padding: 10px;
        line-height: 1;
        background-color: var(--primary100);
    }

    :where(details.callout summary:hover) {
        background-color: var(--primary150);
    }

    details.callout summary + * {
        margin-top: 15px;
    }
}
